---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<>
			{tags.map((tag) => (
				<span class="m-0.5 inline-block rounded-full bg-slate-400 p-2 text-xs text-black  lg:py-1">
					#{tag}
				</span>
			))}
		</>
	)
}
